/* Banner */

	#banner {
		@include vendor('align-items', 'center');
		background-color: _palette(bg);
		
		@include vendor('background-image', 'url("/static/images/R&J-34.jpg")');
		@include vendor('display', 'flex');
		@include padding(4em, 0, (2em, 0, 0, 0));
		background-attachment: fixed;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		border-bottom: 0 !important;
		cursor: default;
		height: 60vh;
		margin-bottom: -3.25em;
		max-height: 32em;
		min-height: 22em;
		position: relative;
		top: -3.25em;

		&:after {
			@include vendor('transition', 'opacity #{_duration(banner)} ease');
			@include vendor('transition-delay', '0.75s');
			@include vendor('pointer-events', 'none');
		@include vendor('background-image', 'url("/static/images/R&J-34.jpg")');
		background-attachment: fixed;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
			
			// background-color: _palette(bg);
			content: '';
			display: block;
			height: 100%;
			left: 0;
			position: absolute;
			top: 0;
			width: 100%;
			z-index: 1;
		}

		h1 {
			font-size: 55px;
			font-weight: 100;
			line-height: 1.1;
		}

		> .inner {
			@include vendor('transition', (
				'opacity 1.5s ease',
				'transform 0.5s ease-out',
				'filter 0.5s ease',
				'-webkit-filter 0.5s ease'
			));
			@include vendor('display', 'flex');			
			padding: 0 !important;
			position: relative;
			z-index: 2;
			position: absolute;
			bottom: 0;
			right: 0;
			top: 0;
			left: 0;
			margin: 10% 20% 11% 10% !important;
			-ms-flex-direction: column;
			flex-direction: column;
			-ms-flex-line-pack: center;
			align-content: center;
			-ms-flex-pack: end;
			justify-content: flex-end;

			.image {
				display: none;
			}

			header {
				width: auto;
				z-index: 3;

				> :first-child {
					width: auto;

					&:after {
						max-width: 100%;
					}
				}
			}

			.content {
				@include vendor('display', 'flex');
				@include vendor('align-items', 'center');
				margin: 0;

				> * {
					margin-left: 1.5em;
					margin-bottom: 0;
				}

				> :first-child {
					margin-left: 0;
				}

				p {
					// font-size: 0.7em;
					font-weight: _font(weight-bold);
					letter-spacing: _font(letter-spacing-alt);
					// text-transform: uppercase;
					letter-spacing: .1px;
					font-weight: 300;
					color: #fff;
					margin: 20px 0 20px 0;
					z-index: 10;
					font-size: 25px;
					font-weight: 300;
					line-height: 1.3;
				}
			}
		}

		&.major {
			height: 100%;
			overflow: hidden;
			left: 0; 
			top: 0;
			bottom: 0;
			position: fixed;
			width: 61%;
			max-height: 100%;
			margin-bottom: 0;

			&.alt {
				opacity: 0.75;
			}
		}

		&.style1 { &:after { background-color: _palette(accent1); } }
		&.style2 { &:after { background-color: _palette(accent2); } }
		&.style3 { &:after { background-color: _palette(accent3); } }
		&.style4 { &:after { background-color: _palette(accent4); } }
		&.style5 { &:after { background-color: _palette(accent5); } }
		&.style6 { &:after { background-color: _palette(accent6); } }

		.body.is-loading & {
			&:after {
				opacity: 1.0;
			}

			> .inner {
				@include vendor('filter', 'blur(0.125em)');
				@include vendor('transform', 'translateX(-0.5em)');
				opacity: 0;
			}
		}

		@include breakpoint(large) {
			background-attachment: scroll;
			transform: scale(.1,.1)
		}

		@media screen and (min-width: 1280px){
			#banner {
				-webkit-transform: scale(0.1, 0.1);
				transform: scale(0.1, 0.1);
			}
		}

		@include breakpoint(small) {
			@include padding(3em, 0, (2em, 0, 0, 0));
			height: auto;
			margin-bottom: -2.75em;
			max-height: none;
			min-height: 0;
			top: -2.75em;

			h1 {
				font-size: 2em;
			}

			> .inner {
				.content {
					display: block;

					> * {
						margin-left: 0;
						margin-bottom: _size(element-margin);
					}
				}
			}

			&.major {
				min-height: 0;
				max-height: none;
			}
		}

		@include breakpoint(xsmall) {
			@include padding(4em, 0, (2em, 0, 0, 0));

			> .inner {
				.content {
					p {
						br {
							display: none;
						}
					}
				}
			}

			&.major {
				@include padding(6em, 0, (2em, 0, 0, 0));
			}
		}
	}